<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.develpoment.gobolabali.fundamentalstatistic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_training"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Team.TeamActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Team.AddTeamActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Team.EditTeamActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Player.PlayerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Player.PlayerActivity2"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Player.AddPlayerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Player.EditPlayerActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".About.AboutActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Setting.SettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Match.MatchActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Match.AddTournamentActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Match.MatchListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Match.AddMatchListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Match.EditTournamentActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Match.EditMatchListActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Games.GameChooseActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Games.GameActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".Games.GameDetailActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".Match.MatchPlayerListActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>